@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  line-height: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  margin: 20px;
}

.active-link {
  padding: 5px;
  background-color: blue;
  color: white;
}

.pending-list {
  padding: 5px;
  background-color: #780f24;
  color: white;
}
